extends base.pug
include mixins/video

block content
    form(method="GET").search
        input(placeholder="Search by title", type="text", name="keyword")
        input(type="submit", value="Search")
    div.video_grid
        each video in videos 
            +video(video)