extends base.pug

block content
    div#recordPart
        video(crossorigin)#preview
        button#actionBtn Start Recording
    if errorMessage 
        span=errorMessage
    form(method="POST", enctype="multipart/form-data").upload
        div.upload--file
            input(type="text", value="Select Video File", disabled).file--text.jsVideoFileText
            label(for="video").upload--label
                i.fas.fa-link
        input(type="file", accept="video/*", required, id="video", name="video").upload--btn.jsVideoUploadBtn
        div.upload--file
            input(type="text", value="Select Thumbnail File", disabled).file--text.jsImageFileText
            label(for="thumb").upload--label
                i.fas.fa-link
        input(type="file", accept="image/*", required, id="thumb", name="thumb").upload--btn.jsImageUploadBtn
        div.upload--info
            input(placeholder="Title", required, type="text", name="title", maxlength=80).upload--info__input
            input(placeholder="Description", required, type="text", name="description", minlength=20).upload--info__input
            input(placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags").upload--info__input
            input(type="submit", value="Upload Video").upload--info__submit
block scripts
    script(src="/static/js/mediaFileSelect.js")
    script(src="/static/js/recorder.js")